@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
.success{
    text-decoration: line-through;
}
.unsuccess{
    text-decoration: none;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: row;
   height: max-content;
}
.field{
    width: 200px;
    height: 30px;
    margin-top: 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list {
    border-color: black;
    border-style: initial;
    border-width: 10px;
    background-color: cornsilk;
}


.task{
    margin-top: 10px;
    background-color: coral ;
    height: 40px;
    text-overflow: clip;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
}
